<form class="form-basic" method="post" action="#">

  <div class="form-title-row">
    <h1>Choose your vehicle</h1>
  </div>

  <div class="form-row">
    <label>
      <span>Vehicle</span>
      <select name="dropdown" [(ngModel)]="typeSelector" (ngModelChange)="typeSelected($event)">
        <option *ngFor="let type of vehicleTypes" [ngValue]="type" [selected]="typeSelector === type">{{type | capitalize}}</option>
      </select>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Brand</span>
      <select name="dropdown" [(ngModel)]="brandSelector" (ngModelChange)="brandSelected($event)">
        <option *ngFor="let brand of vehicleBrands" [ngValue]="brand" [selected]="brandSelector === brand">{{brand | capitalize}}</option>
      </select>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Color</span>
      <select name="dropdown" [(ngModel)]="colorSelector" (ngModelChange)="colorSelected($event)">
        <option *ngFor="let color of vehicleColors" [ngValue]="color" [selected]="colorSelector === color">{{color | capitalize}}</option>
      </select>
    </label>
  </div>

  <div class="form-row">
    <button (click)="loadAll()">Load all</button>
  </div>
</form>
<br>
<br>
<div class="form-basic">
  <h3>{{typeSelector}}</h3>
  <h4>{{brandSelector}}</h4>
  <h5>{{colorSelector}}</h5>
</div>
